---
import Layout from '../layouts/Layout.astro';
import IndexHeader from '../components/IndexHeader.astro';
import Section from '../components/Section.astro';
import HeroSection from '../Sections/HeroSection.astro';
import ModelYSection from '../Sections/ModelYSection.astro';
---

<Layout title="Welcome to Astro.">
	<IndexHeader/>

	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-m-1">
		<div class="snap-center">
			<HeroSection/>
		</div>

		<div class="snap-center">
			<ModelYSection/>
		</div>

		<div class="snap-center">
		</div>

		<div class="snap-center">
		</div>

		<div class="snap-center">
		</div>

	</main>
</Layout>
